<div id="wrapper">
    <div id="page-wrapper">
        <div class="row animated fadeIn">
            <!-- Header view  -->
            Show the Header pane here
        </div>
        <div class="row animated fadeIn">
            <div class="col-lg-3 animated fadeIn">
                <!-- Left view  -->
                Show the left pane here
            </div>
            <div class="col-lg-9 animated fadeIn">
                <!-- Main view  -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>