<div id="content">
    <div id="welcome">
        <div class="textarea">
            <h1>Register for Semlr</h1>
            <form onSubmit="doRegister(); return false;">

                <input type='text' name='email' id='email' placeholder='email address'><br />
                <input type='text' name='firstname' id='firstname' placeholder='first name'class="short-box" >
                <input type='text' name='familyname' id='familyname' placeholder='family name'class="short-box" ><br />
                <input type='password' name='pass' id='pass' class="short-box" placeholder='choose password'>
                <input type='password' name='pass2' id='pass2' class="short-box" placeholder='confirm password'><br />
                <input name="login" value="Login" type="submit" class="button">
            </form>
            <p><a href="index.html" onclick="location.href=this.href+'?x='+queryString('x');return false">Already Registered</a></p>
        </div>
    </div>
</div>