<div class="modal fade modal-dialog timeout-dialog">
    <form name="timeout-form" action='/web-services/login' method='POST'>
        <fieldset>
            <label for="username" class="timeout-label">Username:</label><br>
            <input type='text' class="timeout-input" name='username' id="username" placeholder="Enter Username" autofocus autocorrect="off" autocapitalize="off" maxlength="50" size="20" readonly>
            <label for="password" class="timeout-label">Password:</label><br>
            <input type='password' class="timeout-input" id='password' name='password' placeholder="Enter Password" size="20" autocomplete="off"/>
            <input name="submit" class="timeout-submit" type="submit" value="Login"/>
            <input name="reset" type="reset" class="timeout-reset">
        </fieldset>
    </form>
</div>